body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}
.first-container{
padding: 3% 10% 5%;
}
/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0px 8px;
}
.nav-link{
  font-size: 1.5rem;
  font-weight: lighter;
}

/* Download Buttons */
.download-button{
margin: 5% 3% 5% 0;
}
/* Phone Image */
.iphone-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

h1{

  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

h3{
  font-weight: bold;
  font-size: 1.5rem;
}

p{
  color: #8f8f8f;
}

/* Features Section */

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.feature-icon{
  margin-bottom: 1rem;
  font-size: 4rem;
  color: #ef8172;
}
.feature-icon:hover{
  color: #ff4c68;
}


/* Testimonial Section */

#testimonials{
text-align: center;
background-color: #ef8172;
color: #ffff;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-img{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img{
  width: 10%;
  margin: 20px 20px 50px;
}
/* Pricing section */
#pricing{
text-align: center;
padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

.sign-button{
margin-top: 55px;
}

#cta{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #ffff;
}

#footer{
  text-align: center;
  padding: 5%;
  background-color: #ffff;
}
.icons-media{
  color: black;
  padding: 3% 1% 2%;
}
@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .iphone-img{
    position: static;
      transform: rotate(0deg);
      width: 50%;
  }
}
